.container {
    height: 260px;
    width: 330px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -130px 0 0 -190px;
    border-radius: 5px;
    background-color: #a2d6f2;
    padding: 20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=reset] {
    background-color: #4CAF50;
    width: 100%;
    color: white;
    padding: 12px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit] {
    background-color: #4CAF50;
    width: 100%;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input.first[type=submit] {
    margin-bottom: 10px;
}

input.second[type=submit] {
    margin-top: 60px;
}

input.third[type=submit] {
    margin-top: 10px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

p {
    text-align: center;
    font: normal 16px/18px Arial, Helvetica, Sans-serif;
}

p.title {
    text-align: center;
    font: bold 26px Arial, Helvetica, Sans-serif;
    color: red;
}

p.massage {
    text-align: center;
    font: normal 20px Arial, Helvetica, Sans-serif;
}